@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  padding: 2.5em;
}

body {
  background: #f0f0f0;
  font-family: inter;
}

.container {
  position: relative;
  width: 100%;
  height: 92vh;
  overflow: auto;
}

.archiveModelColumn {
  width: 100vw;
  height: 100vh;
  border: 2px solid yellow;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

.view {
  width: 100%;
  height: calc((100vh - 140px)/5);
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);
  -moz-box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);
  box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.view:hover .cinemaName {
  display: block;
}

.view:hover {
  -webkit-box-shadow: inset 0 0 8px rgb(255, 255, 255),
    0 0 8px rgb(255, 255, 255);
  -moz-box-shadow: inset 0 0 8px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  box-shadow: inset 0 0 8px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cinemaName {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: PINUP;
  font-size: 2em;
  line-height: 20vh;
  user-select: none;
  display: none;
  user-select: none;
  color: white;
}

/* Small devices such as large phones (640px and up) */
@media (max-width: 767px) {
  .archiveModelColumn {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 88vh;

  }
  .view {
    width: 100vw;
    height: 25vh;
  }

}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) {
  .archiveModelColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    overflow: scroll;
    display: block;
    height: auto;
  }
  .view {
    width: 50vw;
    height: 25vh;
  }
}

/* Large devices such as laptops (1024px and up) */
@media (min-width: 1024px) {
  .archiveModelColumn {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    display: block;
  }
  .view {
    width: 20vw;
    height: calc((100vh - 140px)/5);
  }
}

/* Largest devices such as desktops (1280px and up) */
@media (max-height: 700px) {
  .view {
    height: 30vh;
  }
  
}
