.blurb {
  font-family: PINUP;
  font-size: 1em;
  color: black;
  background-color: white;
  text-align: left;
  padding: 0.6em;
}

.blurb:hover {
    /* color: white;
    background-color: black;
    border: 1px solid  white;
     */
}
