.title {
  font-family: PINUP;
  font-size: 5em;
  text-align: center;
}

.wrapper {
  position: relative;
  margin-top: 2em;

}

.columnWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 0;
  pointer-events: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vw;
  text-align: center;
  max-height: 90vh;
}
