body {
  background: black;
}

.title {
  font-family: PINUP;
  font-size: 5em;
  text-align: center;
}

.columnWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  height: 100vh;
}

.column {
  height: 100vh;
  border: 2px solid red;
  overflow: scroll;
}

/* Small devices such as large phones (640px and up) */
@media (max-width: 767px) {
  .columnWrapper {
    display: block;
    height: 100vh;
    overflow: scroll;
  }
  .subColumns {
    overflow: scroll;
    display: block;
    border: 2px solid pink;
  }
  .column {
    width: 100vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) {
  .subColumns {
    overflow: scroll;
    display: block;
  }
  .column {
    width: 50vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media (min-width: 1024px) {
  .subColumns {
    overflow: scroll;
    display: flex;
  }
  .column {
    width: 33vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media (min-width: 1280px) {
  .column {
    width: 25vw;
  }
  .subColumns {
    overflow: scroll;
    display: flex;
  }
}
