/* @import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  padding: 2.5em;
}

body {
  background: #f0f0f0;
  font-family: inter;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

.text {
  line-height: 1em;
  text-align: left;
  font-size: 7em;
  word-break: break-word;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .text {
    font-size: 4em;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    font-size: 3em;
  }
}

.view {
  width: 20vw;
  height: 18vh;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  -webkit-box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);
  -moz-box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);
  box-shadow: inset 0 0 8px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.LinkStyle {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0px;

}

.view:hover .cinemaName {
  display: block;
}

.view:hover {
  -webkit-box-shadow: inset 0 0 8px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  -moz-box-shadow: inset 0 0 8px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  box-shadow: inset 0 0 8px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}

.cinemaName {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: PINUP;
  font-size: 2em;
  line-height: 20vh;
  user-select: none;
  display: none;
  user-select: none;
  color: white;
} */
