.navbar {
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 61vw 13vw 13vw 13vw;
  background-color: #000000;
  height: 8vh;
}

.link {
  color: #000000;
  text-decoration: none;
  height: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.headerTitle {
  margin: 1rem;
  font-family: PINUP;
  grid-column: 1 / span 1;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid red; */
  margin: 0.5rem;
  text-align: left;
}

#mainTitle {
  font-size: 4em;
  padding: 0 20px 0 10px;
}

#subTitle {
  font-size: 1.6em;
}

.item {
  margin: 0.5rem;
  font-family: PINUP;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: span 1;
}
/* Small devices such as large phones (640px and up) */
@media (max-width: 767px) {
  .navbar {
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 80px 40px;
    height: 120px;
  }
  .headerTitle {
    grid-column: span 3;
  }
  #mainTitle {
    font-size: 3em;
  }
  #subTitle {
    font-size: 1em;
    max-width: 50vw;
  }
  .item {
    grid-row-start: 2;
    grid-column: span 1;
  }
}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) {
  .navbar {
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 80px 40px;
    height: 120px;
  }
  .headerTitle {
    padding: 20px 30px 20px 10px;
    grid-column: span 3;
  }
  #mainTitle {
    font-size: 3em;
  }
  #subTitle {
    font-size: 1.2em;
    max-width: 50vw;
  }
  .item {
    font-size: 1em;
    grid-row-start: 2;
    grid-column: span 1;
  }
}

/* Large devices such as laptops (1024px and up) */
@media (min-width: 1024px) {
  .navbar {
    grid-template-columns: 61vw 13vw 13vw 13vw;
    grid-template-rows: 120px;
    height: 120px;
  }
  .headerTitle {
    grid-column: 1 / span 1;
  }
  #mainTitle {
    font-size: 3em;
  }
  #subTitle {
    font-size: 1.2em;
    max-width: 40vw;
  }
  .item {
    font-size: 1.5em;
    grid-row: inherit;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media (min-width: 1380px) {
  #mainTitle {
    font-size: 4em;
  }
  #subTitle {
    font-size: 1.3em;
    max-width: 40vw;
  }
  .item {
    font-size: 2em;
  }
}

@media (min-width: 1580px) {
  #subTitle {
    max-width: 30vw;
  }
}
