.navbar {
  display: grid;
  grid-template-columns: 40vw 20vw 20vw 20vw;
  background-color: #000000;
}

.headerTitle {
  margin: 1rem;
  font-family: PINUP;
  grid-column: 1 / span 1;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: PINUP;
  /* border: 2px solid red; */
  padding: 0 30px 0 10px;
  margin: 1rem;
  height: 8vh;
}

#mainTitle {
  font-size: 4em;
  padding: 0 20px 0 10px;
}

#subTitle {
  font-size: 1.6em;
}

.item {
  margin: 1rem;
  font-family: PINUP;
  background-color: white;
  font-size: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: span 1;
  height: 8vh;
}
